* {
  box-sizing: border-box ;
}

img  {
  width:100%;

}

header{
  padding-left: 13%;
      padding-top: 22px;
      border: groove;
      letter-spacing: 4px;
      font-family: 'Lato', sans-serif;
      font-size: 10.5PX;
      margin-bottom: 25;
}
