/*************************************************** DEFAULTS ******************/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/*************************************************** HEADER ********************/

header{
  display:inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-left: 10.5%;
  }

  /*************************************************** MAIN ********************/

  /*************************************************** ASIDE *******************/

  /*************************************************** FOOTER ******************/
